.navbar {
    margin-bottom: 50px;
	border-radius: 0;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.back-image {
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 250px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
    margin-bottom: 0;
}
 
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

img{
    width:300px;
}

.panel-footer{
    text-align: center;
}

.page-end{
    background-color: darkgrey;
}



/* for fixed nav bar */
.top-container {
	background-color: #f1f1f1;
	padding: 30px;
	text-align: center;
  }
  
  .header {
	padding: 10px 16px;
	background: #555;
	color: #f1f1f1;
  }
  
  .content {
	padding: 16px;
  }
  
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 102px;
  }






/* for login nd register tags */
.panel-heading {
    color: #00415d;
	background-color: #fff;
	border-color: #fff;
    text-align:center;
}

.panel-heading a{
    text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
}

.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}


