<html>
    <head>
    </head>
    <body>
        <form method = "POST" action = "/products/add/post">
            <label>Image 1</label><input type = "text" name = "imageurl1"><br>
            <label>Image 2</label><input type = "text" name = "imageurl2"><br>
            <label>Image 3</label><input type = "text" name = "imageurl3"><br>
            <label>Image 4</label><input type = "text" name = "imageurl4"><br>
            <label>ID</label><input type = "text" name = "id"><br>
            <label>Category</label><input type = "text" name = "cat"><br>
            <label>Brand</label><input type = "text" name = "brand"><br>
            <label>Title</label><input type = "text" name = "title"><br>
            <label>Short Description</label><input type = "text" name = "shortdes"><br>
            <label>Long Description</label><input type = "text" name = "longdes"><br>
            <label>Price</label><input type = "text" name = "price"><br>
            <label>Quantity</label><input type = "text" name = "quantity"><br>
            <button type = "submit"> Submit</button>
        </form>
    </body>
</html>