<app-navbar></app-navbar>
<div style="background-image: url(../assets/back-down.jpg);">
  <nav class="navbar navbar-inverse" style="background-image: url(../assets/back-down.jpg);">
      <div class="container container-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../assets/slide-1.jpg" alt="No img" style="width:100%; height:300px;" >
              <div class="carousel-caption">
                <h3></h3>
                <p></p>
              </div>
            </div>
      
            <div class="item">
              <img src="../assets/slide-2.jpg" alt="No img" style="width:100%; height:300px;">
              <div class="carousel-caption">
              </div>
            </div>
  
            <div class="item">
              <img src="../assets/slide-3.jpg" alt="No img" style="width:100%; height:300px;">
              <div class="carousel-caption">
              </div>
            </div>
  
            <div class="item">
              <img src="../assets/slide-4.jpg" alt="No img" style="width:100%; height:300px;">
              <div class="carousel-caption">
              </div>
            </div>
  
            <div class="item">
              <img src="../assets/slide-5.jpg" alt="No img" style="width:100%; height:300px;">
              <div class="carousel-caption">
              </div>
            </div>
          
            <div class="item">
              <img src="../assets/slide-6.jpg" alt="No img" style="width:100%; height:300px;">
              <div class="carousel-caption">
              </div>
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
  </nav>
    
  
  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="../assets/box-1.jpg" class="img-responsive" style="width:100%; cursor:pointer;" alt="Image" [routerLink] = "['/products']"></div>
          <div class="panel-footer">CLOTHING</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-danger">
          <div class="panel-heading">BLOCK BUSTER DEAL</div>
          <div class="panel-body"><img src="../assets/box-2.jpg" class="img-responsive" style="width:100%; cursor:pointer;" alt="Image" [routerLink] = "['/products']"></div>
          <div class="panel-footer">FOOTWEAR</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">CAPTIVATING DEAL</div>
          <div class="panel-body"><img src="../assets/box-3.jpg" class="img-responsive" style="width:100%; cursor:pointer;" alt="Image" [routerLink] = "['/products']"></div>
          <div class="panel-footer">BEAUTY</div>
        </div>
      </div>
    </div>
  </div><br>
  </div>
  <br>
  
  <footer class="container-fluid text-center page-end">
    <p>Online Store Copyright</p>  
    <form class="form-inline">Get deals:
      <input type="email" class="form-control" size="40" placeholder="Email Address">
      <button type="button" class="btn btn-success">Sign Up</button>
    </form>
  </footer>
  
  <router-outlet></router-outlet>