<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-7">
      <img class="map-img" src="../../assets/map.JPG">
    </div>
    <div class="col-md-5">
      <p class="head">How to find us..</p>
      <br>
      <br>
      <span>
        <h4><strong> ADDRESS : </strong></h4>
        <h5> Gachibowli, Hyderabad </h5>
      </span>
      <br>
      <span>
        <h4><strong> CONTACT : </strong></h4>
        <h5> +91-9009009000 </h5>
      </span>
      <br>
      <br>
      <br>
      <h4> shippon@gmail.com </h4>
    </div>
  </div>